
.tick {
  width: 50vw;
  font-size:1rem;
  white-space:nowrap;
  font-family:arial,sans-serif;
  margin: -4rem auto;
  z-index: -2000;
}
.tick-text-inline{
  margin: 0 -1rem;
 
}
.tick-flip,.tick-text-inline {
  font-size: 2.5em;
}
 
.tick-label {
  margin-top: 1em;
  font-size:1em;
 
}
.tick-char {
  width:1.5em;
 
}
.Residometro p{
  margin: 5rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.756);
 
}
.sair{
  width: 3rem;
  height: 3rem;
}
.tick-text-inline {
  display:inline-block;
  text-align:center;
  min-width:1em;
  margin: 1.5rem -1.3rem;
 
}
.nav-list .logout{
  margin: -2rem auto ;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
 
}
 
.medida{
  color: var(--color-secondary);
}
 
 
 
.tick-flip-panel-text-wrapper {
   line-height: 1.45 !important;
}
.Residometro .ponto{
  position: relative;
  margin: .8rem 0.1rem 0;
  color: var(--color-gray);
  font-size: 40px;
 
}
 
.tick-flip-panel {
   background-color: var(--color-secondary) !important;
}
 
.tick-flip {
   border-radius: 0.53em !important;
}
 
.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
  }
  html, body {
      min-height: 100%;
  }
  body {
      padding: 0;
      margin: 0;
  }
         
  footer {
      position: absolute;
      bottom: 8rem;
      width: 100%;
      height: 100px;    
      text-align: center;
      line-height: 100px;
     
   
  }
  .flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
 
  .waves {
   
  margin: 8rem 0rem;
  position:relative;
  width: 100%;
  height: 15vh;
  margin-bottom:-90px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  }
 
 
  /* Animation */
 
  .parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 9s;
  }
  .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  }
  @keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
  }
  /*Shrinking for mobile*/

  @media only screen and (min-width: 1800px) {
    .Residometro{
      padding: 1rem 0;
    }
    
    .tick {
      margin: 2rem auto;
      width: 100vh;
    }
    .Residometro .ponto{
      position: relative;
      margin: .5rem 0.1rem 0;
      color: var(--color-gray);
      font-size: 50px;
   
    }
    .Residometro p {
      margin: -2.5rem 0.1rem 0;
      font-size: 2rem;
    }
  }


  @media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
  }
 
.medida{
  text-align: center;
  align-items: center;
  border-radius: 2rem;
  padding: 0rem;
  background-color: transparent;
  color: var(--color-secondary);
 
}
 
@media (max-width: 1350px) and (orientation: landscape) {
  .tick {
    width: 100vh;
  }

  .Residometro .ponto{
    margin: 1.0rem 0.1rem 0;
    color: var(--color-gray);
    font-size: 30px;
 
  }
 
}
 
@media only screen and (max-width: 1100px){
  .tick {
    width: 75vw;
  }
 
  .Residometro .ponto{
    position: relative;
    margin: .7rem 0.1rem 0;
    color: var(--color-gray);
    font-size: 40px;
 
  }
 
}

@media only screen and (max-width: 1000px){
  .tick {
    width: 85vw;
  }
 
  .Residometro .ponto{
    position: relative;
    margin: 0.2rem 0.1rem 0;
    color: var(--color-gray);
    font-size: 60px;
 
  }
 
}
 


@media only screen and (max-width: 920px){
  .Residometro .tick {
    width: 60vh;
  }
  .Residometro .ponto{
    position: relative;
    margin: -0.2rem 0.1rem 0;
    color: var(--color-gray);
    font-size: 25px;
 
  }
  .medida{
    padding: 0.5rem;
    font-size: 0.6rem;
  }
}


@media only screen and (max-width: 770px){
.Residometro .tick{
  width: 60vh;
}
.medida{
  padding: 0rem;
  font-size: 1rem;
}
.Residometro .ponto{
  position: relative;
  margin: -.5rem 0.1rem 0;
  color: var(--color-gray);
  font-size: 30px;

}
.wave{
  margin: 3rem 0;
}
}


@media only screen and (max-width: 650px){
  .Residometro .tick{
    width: 70vh;

  }
  .Residometro .ponto{
    margin: .1rem 0.1rem 0;

  }
  }


  @media only screen and (max-width: 550px){
    .Residometro .tick{
      width: 60vh;
    }
    .Residometro .ponto{
      margin: -.1rem 0.1rem 0;
  
  }
}

@media only screen and (max-width: 500px){
      .Residometro .tick{
        width: 45vh;
      }
      .Residometro .ponto{
        margin: -.3rem 0.1rem 0;
        font-size: 20px;
  }
}


@media only screen and (max-width: 450px){
  .Residometro .tick{
    width: 43vh;
  }
  .Residometro .ponto{
    margin: -.2rem 0.1rem 0;

}
.Residometro p{
 
 font-size: 20px;
}
}



@media only screen and (max-width: 400px){
  .Residometro .tick{
    width:45vh;
  }
  .Residometro .ponto{
    margin: -.2rem 0.1rem 0;
    font-size: 20px;
}
.Residometro p{
 
 font-size: 20px;
}
}

@media only screen and (max-width: 380px){
 .Residometro .tick{
  width:48vh;
    margin: -4rem auto;
  } 
  .Residometro .ponto{
    margin: .5rem 0.1rem 0;
    font-size: 10px;
}
.Residometro p{
  margin: 4rem 0;
}
}

@media only screen and (max-width: 300px){
  .Residometro .tick{
   width: 35vh;
     margin: -3rem auto;
   } 
   .Residometro .ponto{
     margin: .5rem 0.1rem 0;
     font-size: 10px;
 }
 .Residometro p{
  margin: 3rem 0;
}
.Residometro .medida{
  font-size: 10px;
}
 }

 
@media only screen and (max-width: 250px){
  .Residometro .tick{
   width: 30vh;
     margin: -10rem 2.5rem;
   } 
   .Residometro .ponto{
     margin: .1rem 0.1rem 0;
     font-size: 10px;
 }
 .Residometro p{
  margin: 10rem 0;
  font-size: 15px;

}
.Residometro .medida{
  font-size: 10px;
}

 }