.Resumo .ResumoContainer {
    display: flex;
    flex-direction: row-reverse;
}

.Resumo .ResumoContainer .content{
    width: 35vw;
    align-items: center;
    text-align: center;
    color: rgb(49, 47, 47);
    margin: 2rem 0rem;

}

.Resumo .ResumoContainer .content h1{
    font-size: 3rem;
}

.bloco{
    height: 100%;
    margin: 0rem 0rem;
    padding: 1rem;
    margin: 0 2rem;
    text-align: justify;
    
}
.dados{
    display: flex;
    gap: 0.5rem;
}

.bloco h1{
    font-family: 'Martel', serif;
    font-weight: 600;
    color: #067006;
    margin: .9rem auto;

}
h2{
    font-family: 'Martel', serif;
    font-weight: 400;

    color: #004E0C;
    font-size: 2rem;

}

p{
    font-family: 'Martel', serif;
    font-weight: 100;
    font-weight: bold;

    color: #00d11f;
    font-size: 1.5rem;
}

.linhaHorizontal {
    margin: .5rem auto;
    width: 30vw;
    border: 1px solid var(--color-primary);
}

#containerGrafico {
    width: 70%;
    height: 550px;
    margin: 0 auto;
}
#containerGraficoMes{
    width: 70%;
    height: 550px;
    margin: 0 auto; 
}

#containerGraficoMesAnterior{
    width: 70%;
    height: 550px;
    margin: 0 auto; 
}

#containerAnoCorrente{
    width: 70%;
    height: 550px;
    margin: 0 auto; 
}


@media only screen and (max-width: 1270px){

.bloco{
    text-align: center;
}
.bloco h2{

    font-size: 1.5rem;

}

.bloco p{
    margin-top: -1.8px;
    font-size: 1.3rem;
}
}

@media only screen and (max-width: 1200px){

    .bloco h1{
        letter-spacing: -0.05em;
        font-size: 1.7rem;
        text-align: justify;
    }
    .bloco h2{
    
        font-size: 1.3rem;
    
    }
    
    .bloco p{
        margin-top: -1.8px;
        font-size: 1rem;
    }
    }

@media only screen and (max-width: 980px){
    .Resumo .ResumoContainer {
        display: flex;
        flex-direction: column;
      
        width: 100%;

    }
    .linhaHorizontal {
        margin: -.1rem auto;
    }

    .bloco{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .bloco h2{
        margin: 1rem 0;
        font-size: 1rem;
    }
    .bloco p{
        margin: 1rem 0;
        font-size: 1rem;
    }
    .Resumo .ResumoContainer .content{
    width: 100vw;      
}}

.medida{
    text-align: center;
    align-items: center;
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--color-secondary);
    color: white;
    
}