.Resumo .ResumoContainer {
    display: flex;
    flex-direction: row-reverse;
}

.Resumo .ResumoContainer .content{
    width: 35vw;
    align-items: center;
    text-align: center;
    color: rgb(49, 47, 47);
    margin: 2rem 0rem;

}

.Resumo .ResumoContainer .content h1{
    font-size: 3rem;
}

.bloco{
    height: 100%;
    margin: 0rem 0rem;
    padding: 1rem;
    margin: 0 2rem;
    text-align: justify;
    
}
.dados{
    display: flex;
    gap: 0.5rem;
}

.bloco h1{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #333633;
    margin: .9rem auto;

}
h2{
    font-family: 'Inter', sans-serif;
    font-weight: 400;

    color: #004E0C;
    font-size: 2rem;

}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-weight: bold;
    color: #1a741a;
    font-size: 1.5rem;
}

.linhaHorizontal {
    margin: .5rem auto;
    width: 30vw;
    border: 1px solid var(--color-primary);
}

#containerGrafico {
    width: 70%;
    height: 550px;
    margin: 0 auto;
}
#containerGraficoMes{
    width: 70%;
    height: 550px;
    margin: 0 auto; 
}

#containerGraficoMesAnterior{
    width: 70%;
    height: 550px;
    margin: 0 auto; 
}

#containerAnoCorrente{
    width: 70%;
    height: 550px;
    margin: 0 auto; 
}
