body{
  overflow-x: hidden;
}
.navbar {
  width: 100%;
  z-index: 3000;

}
.nav-container{
  z-index: -1000;
}
.menu-items .btn{
  z-index: 5000;

}
.navbar .menu-items {
  background-color: #bb52778c;
  display: flex;
  z-index: -1000;
}

.navbar .nav-container li {
  list-style: none; 

}

.navbar .nav-container a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
    color: #ffffff;
    background-color: var(--color-secondary);

}

.Ecoenel3eLogo{
  z-index: 5000;
  top: -4%;
  height: 20%;
  position: absolute;
  display: flex;
  right: 0%;
  align-items: center;
}


.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  margin-top: 1rem;
  margin-left: 5rem;
  top: -10%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: -10%;
  margin-top: 1rem;
  margin-left: 5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
} 

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  height: 128vh;
  width: 45vw;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -20vw;
  margin-top: -4vh;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;

}
.nav-container .checkbox {
  top: 4vh;
  }
  .nav-container .hamburger-lines {
  top: 4vh;
  
  }
//Responsividade
.nav-container .checkbox {
  left: 8vw;
  top: 5vh;
  }
  .nav-container .hamburger-lines {
  left: 8vw;
  top: 5vh;
  
  }

@media only screen and (min-width: 1600px){
  .nav-container .checkbox {
    top: 4vh;
    }
    .nav-container .hamburger-lines {
    top: 4vh;
    
    }

    .navbar .menu-items {
      padding-top: 20vh;
      margin-left: -15vw;
    }
  }

  @media only screen and (max-width: 1600px){
    .Ecoenel3eLogo{
      top: -3vh;
      height: 18rem;
      width: 20vw;
      right: -35vw;
    }
    .nav-container .checkbox {
      top: 5vh;
      }
      .nav-container .hamburger-lines {
      top: 5vh;
      
      }
  }
 
  @media only screen and (max-width: 1500px){
  .nav-container .checkbox {
  left: 10%;
  }
  .nav-container .hamburger-lines {
  left: 0%;
  
  }
  .Ecoenel3eLogo{
  height: 15vh;
  margin-top: 2rem;
  right: 3%;
  
  }
  
  }
  
  @media only screen and (max-width: 1400px){
  .nav-container .checkbox {
  left: 0%;
  }
  .nav-container .hamburger-lines {
  left: 0%;
  
  }
  .Ecoenel3eLogo{
  height: 20vh;
  margin: 1rem;
  right: 1%;
  
  }
  .navbar .menu-items {
  margin-top: 3vw;
  }
  }
  
  @media only screen and (max-width: 1200px){
  .nav-container .checkbox {
  margin-top: 4vh;
  }
  .nav-container .hamburger-lines {
  margin-top: 4vh;
  
  }
  .navbar .menu-items {
  width: 50%;
  margin-left: -15vw;
  }
  .menu-items .btn{
  width: 30vw;
  margin-left: 12vw;
  
  }
  }
  
  @media (max-width: 1200px) and (orientation: landscape) {
  .logos{
  padding: 1rem;
  }
  .Ecoenel3eLogo{
  margin-top: 0.6rem;
  
  }
  .nav-container .checkbox {
  top: -1vh;
  }
  .nav-container .hamburger-lines {
  top: -1vh;
  }
  }
  
  @media only screen and (max-width: 1000px){
  .nav-container .checkbox {
  left: 0%;
  }
  .nav-container .hamburger-lines {
  left: 0%;
  
  }
  .Ecoenel3eLogo{
  height: 20vh;
  margin: 0.3rem;
  width: 20vw;
  }
  .navbar .menu-items {
  margin-top: 5vw;
  margin-left: -15vw;
  }
  .menu-items .btn{
  margin-left: 5vw;
  }
  }
  
  @media only screen and (max-width: 950px){
  .nav-container .checkbox {
  left: 0vw;
  top: 2rem;
  }
  
  .nav-container .hamburger-lines {
  left: 0vw;
  top: 2rem;

  }
  
  .navbar .menu-items {
  margin-left: -13vw;
  width: 60vw;
  }
  .menu-items .btn{
  margin-left: 18vw;
  }
  .Ecoenel3eLogo{
    top: 0%;
    width: 40vw;
    height: 15vh;
    }
  }
  
  @media only screen and (max-width: 760px){
  .navbar .menu-items {
  
  margin-left: -18vw;
  }
  
  .menu-items .btn{
  width: 30vw;
  margin: 0 4rem;
  }
  .Ecoenel3eLogo{
  top: -4vh;
  
  }
  }
  
  @media only screen and (max-width: 650px){
  .navbar .menu-items {
  margin-top: -5vw;
  margin-left: -10vw;
  width: 100vw;
  }
  .Ecoenel3eLogo{
    margin-top: 2vw;
    width: 35vw;
    }
  .menu-items .btn{
  width: 30vw;
  margin: 0 auto;
  }
  }
  
  @media only screen and (max-width: 575px){
  .Ecoenel3eLogo{
  height: 20vh;
  margin: 0.5rem 20%;
  }
  .nav-container .checkbox {
  top: 1vh;
  }
  .nav-container .hamburger-lines {
  top: 1vh;
  }
  }
  
  @media (max-width: 490px) and (landscape){
  .logos{
  padding: 2rem;
  }
  .nav-container .checkbox {
  height: 15vh;
  left: 5%;
  top: -2vh;
  }
  .nav-container .hamburger-lines {
  height: 7.5vh;
  left: 5%;
  top: -1vh;
  
  }
  .Ecoenel3eLogo{
  top: -4vh;
  }

  }
  @media only screen and (max-width: 450px){
    .Ecoenel3eLogo{
      width: 40vw;
      height: 20vh;
      margin: 0.5rem 10%;
      }
      .nav-container .checkbox {
      top: 1vh;
      }
      .nav-container .hamburger-lines {
      top: 1vh;
      }
  }  
  @media only screen and (max-width: 420px) {
  .Ecoenel3eLogo{
  height: 15vh;
  margin: 1.5rem ;
  }
  .nav-container .checkbox {
  height: 4.5vh;
  left: -5%;
  top: -15px;
  }
  .nav-container .hamburger-lines {
  height: 3vh;
  left: -5%;
  top: 5px;
  
  }
  
  .navbar .menu-items {
  margin-top: 10vw;
  margin-left: -5vw;
  width: 100vw;
  }
  }
  
  @media only screen and (max-width: 380px) {
  .nav-container .checkbox {
  height: 3.8vh;
  left: -10%;
  top: 8px;
  }
  .nav-container .hamburger-lines {
  height: 3.8vh;
  left: -10%;
  top: 8px;
  
  }
  }
  
  @media only screen and (max-width: 360px) {
  .nav-container .checkbox {
  height: 3.5vh;
  }
  .nav-container .hamburger-lines {
  height: 3.5vh;
  
  }
  
  .menu-items .btn{
  width: 50vw;
  margin: 0 auto;
  }
  }
  
  @media only screen and (max-width: 300px) {
  .Ecoenel3eLogo{
  height: 13vh;
  margin: 1.8rem 20%;
  }
  .nav-container .checkbox {
  height: 3.9vh;
  left: -80%;
  }
  .nav-container .hamburger-lines {
  height: 3.9vh;
  left: -80%;
  
  }
  
  .navbar .menu-items {
  margin-left: -18vw;
  }
  }
  
  @media only screen and (max-width: 280px) {
  .Ecoenel3eLogo{
  height: 13vh;
  margin: 1.8rem 5%;
  }
  .nav-container .checkbox {
  height: 3.9vh;
  left: -10%;
  }
  .nav-container .hamburger-lines {
  height: 3.9vh;
  left: -10%;
  
  }
  
  .navbar .menu-items {
  margin-left: -18vw;
  }
  }
  
 
  

      