*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root{
    --color-primary: #bb5277;
    --color-secondary: #ff4787;
    --color-red: #ea0000;
    --color-blue: #0022e1;
    --color-pink: #ff4787;
    --color-yellow: #FFCC00;
    --color-orange: #cb5616;
}

#linha-vertical {
    display: flex;
    height: 400px;
    border-right:  2px solid var(--color-primary);
   /*  position: absolute;
    margin: 20vh 63vw; */

}
.DontShow{
    align-items: center;
    justify-content: center;
    display: flex;
}

.BotãoLinks{
    width: 400px;
  
  }
  
a{
    text-decoration: none;
    font-weight: 400;
}

body::-webkit-scrollbar{
    width: 1px;

    background: var(--color-primary) ;

    border-radius: 20px;
    border: 30px  var(--color-primary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main{
    bottom: 0;
    flex: 1;
}

/*Imagens não serem selecionadas*/
img{
    -webkit-touch-callout: none; 
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;       
    -ms-user-select: none;        
}

@media only screen and (max-width: 800px){
    body::-webkit-scrollbar{
        width: 1px;
    
        background: transparent ;
    
        border-radius: 20px;
        border: 30px  transparent;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}