*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root{
    --color-primary: #ff4787;
    --color-secondary: #0555fa;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #6f6f6f;
    --color-cian: #41b9e6;
    --color-orange: #ff5a0f;
}
  
a{
    text-decoration: none;
    font-weight: 400;
}

body::-webkit-scrollbar{
    width: 1px;

    background: var(--color-primary) ;

    border-radius: 20px;
    border: 30px  var(--color-primary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main{
    bottom: 0;
    flex: 1;
}

/*Imagens não serem selecionadas*/
img{
    -webkit-touch-callout: none; 
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;       
    -ms-user-select: none;        
}

