/*Estilização Das Logos*/
.NavBar .container .logos{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.Logo3e{
    width: 7vw;
    margin: 0 10rem;
    
}
.EcoenelLogo{
    width: 20vw;
    margin: 0 10rem;
}

/*Botões para navegação*/
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MobileBtn{
    display: none;
}

/*Residometro && Atualização*/
.section1 .container{
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10rem;

}
.BlobOrange{
    left: 0;
    width: 15vw;
    position: absolute;
    z-index: -1000;
    margin: -2rem 6rem;

}

.BlobYellow{
    right: 0;
    width: 17vw;
    margin: -2rem 4.5rem;
    position: absolute;
    z-index: -1000;
}

.Residometro,
.Atualização{
    margin: 10vh 0;
    font-size: 2rem;
}

.NumberCount{
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.Residometro h1,
.Atualização h1{
    font-size: 3rem;
    font-weight: 400;
} 

.Break{
    font-weight: 200;
    color: var(--color-primary);
}

.Residometro span,
.Atualização span{
    font-weight: 300;
    color: var(--color-primary);
}
@media only screen and (max-width: 900px){
    /*Estilização Das Logos*/
    .Logo3e{
        margin: 0 -1vw;
    }
    .EcoenelLogo{
        margin: 0 35vw;
    }
    .MobileBtn{
        background: none;
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        top: 2vw;
        position: absolute;
    }
    .buttons{
        visibility: none;

    }
    .NavBar .container .logos{
        justify-content: center;
    }
    .buttons{
        display: block;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.ShowMenu .buttons{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 60px;
        background: url('/public/assets/BackgroundImg.png');
        height: calc(100vh - 60px);
        z-index: 1000;
        transition: .6s;
        overflow: auto;
        visibility: visible;

    }
    #Hamburger{
        width: 20px;
        border-top: 2px solid;
        color: rgb(255, 255, 255);
        
    }
    #Hamburger::after, #Hamburger::before{
        content: '';
        display: block;
        margin-top: 5px;
        width: 20px;
        height: 2px;
        position: relative;
        transition: .3s;
        background-color: currentColor;
        
    }
    .ShowMenu #Hamburger{
        border-top-color: transparent;
    }
    .ShowMenu #Hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .ShowMenu #Hamburger::before{
        transform: rotate(135deg);

    }
}
@media only screen and (max-width: 800px){
    #nav.ShowMenu .buttons{
        top: 10.5vh;

    }
}