/*Estilização Das Logos*/
.NavBar .container .logos{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo3e{
    width: 5rem;
    margin: 0 10rem;

}
.EcoenelLogo{
    width: 20vw;
    margin: 0 10rem;
}

/*Botões para navegação*/
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MobileBtn{
    display: none;
}

@media only screen and (max-width: 900px){
    /*Estilização Das Logos*/
    .Logo3e{
        margin: 0 auto;
    }
    .EcoenelLogo{
        margin: 0 auto;
    }
    .MobileBtn{
        background: none;
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
    }
    .buttons{
        visibility: none;

    }
    .NavBar .container .logos{
        justify-content: center;
    }
    .buttons{
        display: block;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.ShowMenu .buttons{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 60px;
        background: url('/public/assets/BackgroundImg.png');
        height: calc(100vh - 60px);
        z-index: 1000;
        transition: .6s;
        overflow: auto;
        visibility: visible;

    }
    #Hamburger{
        width: 20px;
        border-top: 2px solid;
        color: rgb(255, 0, 0);
        z-index: 2000;
        
    }
    #Hamburger::after, #Hamburger::before{
        content: '';
        display: block;
        margin-top: 5px;
        width: 20px;
        height: 2px;
        position: relative;
        transition: .3s;
        background-color: currentColor;
        
    }
    .ShowMenu #Hamburger{
        border-top-color: transparent;
    }
    .ShowMenu #Hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .ShowMenu #Hamburger::before{
        transform: rotate(135deg);

    }
}