
footer{
    
    top: 0;
    width: 100%; 
    height: 100%;
}

/*RODAPE*/
.rodape{
    bottom: 100%;
    z-index: 1;
    position: relative;
}

main{
    bottom: 0;
    flex: 1;
}









.path-0{
    animation:pathAnim-0 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    }
    @keyframes pathAnim-0{
    0%{
    d: path("M 0,400 C 0,400 0,80 0,80 C 73.23343151693666,92.05670103092783 146.46686303387332,104.11340206185567 202,101 C 257.5331369661267,97.88659793814433 295.3659793814433,79.60309278350516 353,72 C 410.6340206185567,64.39690721649484 488.0692194403533,67.4742268041237 555,69 C 621.9307805596467,70.5257731958763 678.357142857143,70.5 730,72 C 781.642857142857,73.5 828.502209131075,76.52577319587631 888,81 C 947.497790868925,85.47422680412369 1019.6340206185564,91.39690721649484 1080,89 C 1140.3659793814436,86.60309278350516 1188.9617083946982,75.88659793814433 1247,73 C 1305.0382916053018,70.11340206185567 1372.5191458026509,75.05670103092783 1440,80 C 1440,80 1440,400 1440,400 Z");
    }
    25%{
    d: path("M 0,400 C 0,400 0,80 0,80 C 73.55706921944035,68.32952871870398 147.1141384388807,56.65905743740795 200,63 C 252.8858615611193,69.34094256259205 285.10051546391753,93.69329896907217 341,103 C 396.89948453608247,112.30670103092783 476.4837997054492,106.56774668630338 544,98 C 611.5162002945508,89.43225331369662 666.9642857142858,78.03571428571428 723,78 C 779.0357142857142,77.96428571428572 835.6590574374078,89.28939617083947 894,95 C 952.3409425625922,100.71060382916053 1012.3994845360826,100.80670103092783 1070,100 C 1127.6005154639174,99.19329896907217 1182.7430044182622,97.4837997054492 1244,94 C 1305.2569955817378,90.5162002945508 1372.628497790869,85.2581001472754 1440,80 C 1440,80 1440,400 1440,400 Z");
    }
    50%{
    d: path("M 0,400 C 0,400 0,80 0,80 C 68.44513991163477,69.98582474226805 136.89027982326954,59.97164948453609 190,61 C 243.10972017673046,62.02835051546391 280.8840206185567,74.0992268041237 339,80 C 397.1159793814433,85.9007731958763 475.5736377025038,85.63144329896907 548,87 C 620.4263622974962,88.36855670103093 686.8214285714284,91.37500000000001 744,88 C 801.1785714285716,84.62499999999999 849.1406480117821,74.86855670103091 898,71 C 946.8593519882179,67.13144329896909 996.6159793814434,69.15077319587628 1054,76 C 1111.3840206185566,82.84922680412372 1176.3954344624449,94.52835051546393 1242,96 C 1307.6045655375551,97.47164948453607 1373.8022827687776,88.73582474226804 1440,80 C 1440,80 1440,400 1440,400 Z");
    }
    75%{
    d: path("M 0,400 C 0,400 0,80 0,80 C 66.05614874815906,96.68022827687776 132.11229749631812,113.36045655375553 194,109 C 255.88770250368188,104.63954344624447 313.6069587628866,79.23840206185568 367,65 C 420.3930412371134,50.76159793814433 469.45986745213554,47.68593519882181 519,56 C 568.5401325478645,64.31406480117819 618.5535714285714,84.01785714285714 690,91 C 761.4464285714286,97.98214285714286 854.3258468335788,92.24263622974964 918,93 C 981.6741531664212,93.75736377025036 1016.1430412371133,101.01159793814433 1070,100 C 1123.8569587628867,98.98840206185567 1197.1019882179676,89.71097201767306 1262,85 C 1326.8980117820324,80.28902798232694 1383.4490058910162,80.14451399116348 1440,80 C 1440,80 1440,400 1440,400 Z");
    }
    100%{
    d: path("M 0,400 C 0,400 0,80 0,80 C 73.23343151693666,92.05670103092783 146.46686303387332,104.11340206185567 202,101 C 257.5331369661267,97.88659793814433 295.3659793814433,79.60309278350516 353,72 C 410.6340206185567,64.39690721649484 488.0692194403533,67.4742268041237 555,69 C 621.9307805596467,70.5257731958763 678.357142857143,70.5 730,72 C 781.642857142857,73.5 828.502209131075,76.52577319587631 888,81 C 947.497790868925,85.47422680412369 1019.6340206185564,91.39690721649484 1080,89 C 1140.3659793814436,86.60309278350516 1188.9617083946982,75.88659793814433 1247,73 C 1305.0382916053018,70.11340206185567 1372.5191458026509,75.05670103092783 1440,80 C 1440,80 1440,400 1440,400 Z");
    }
    
}


.path-1{
    animation:pathAnim-1 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-1{
    0%{
    d: path("M 0,400 C 0,400 0,160 0,160 C 69.51951399116348,155.96078792341677 139.03902798232696,151.92157584683358 203,151 C 266.96097201767304,150.07842415316642 325.3634020618557,152.2744845360825 381,147 C 436.6365979381443,141.7255154639175 489.5073637702503,128.98048600883652 553,133 C 616.4926362297497,137.01951399116348 690.6071428571429,157.80357142857144 745,166 C 799.3928571428571,174.19642857142856 834.0640648011781,169.80522827687776 892,161 C 949.9359351988219,152.19477172312224 1031.1365979381442,138.97551546391753 1097,132 C 1162.8634020618558,125.02448453608247 1213.3895434462447,124.29270986745215 1268,130 C 1322.6104565537553,135.70729013254785 1381.3052282768776,147.85364506627394 1440,160 C 1440,160 1440,400 1440,400 Z");
    }
    25%{
    d: path("M 0,400 C 0,400 0,160 0,160 C 73.5193298969072,174.2923416789396 147.0386597938144,188.58468335787921 197,182 C 246.9613402061856,175.41531664212079 273.36469072164954,147.95360824742272 330,136 C 386.63530927835046,124.04639175257729 473.50257731958766,127.60088365243001 545,135 C 616.4974226804123,142.39911634757 672.6249999999999,153.64285714285717 732,156 C 791.3750000000001,158.35714285714283 853.9974226804125,151.82768777614137 914,158 C 974.0025773195875,164.17231222385863 1031.3853092783504,183.0463917525773 1094,181 C 1156.6146907216496,178.9536082474227 1224.4613402061857,155.98674521354934 1283,149 C 1341.5386597938143,142.01325478645066 1390.769329896907,151.00662739322533 1440,160 C 1440,160 1440,400 1440,400 Z");
    }
    50%{
    d: path("M 0,400 C 0,400 0,160 0,160 C 61.35861561119292,172.4079528718704 122.71723122238583,184.81590574374079 179,182 C 235.28276877761417,179.18409425625921 286.4896907216496,161.1443298969072 347,153 C 407.5103092783504,144.8556701030928 477.3240058910161,146.60677466863035 539,159 C 600.6759941089839,171.39322533136965 654.2142857142858,194.42857142857142 707,188 C 759.7857142857142,181.57142857142858 811.818851251841,145.67893961708396 875,147 C 938.181148748159,148.32106038291604 1012.5103092783506,186.85567010309276 1072,189 C 1131.4896907216494,191.14432989690724 1176.1399116347568,156.89837997054494 1235,146 C 1293.8600883652432,135.10162002945506 1366.9300441826217,147.55081001472752 1440,160 C 1440,160 1440,400 1440,400 Z");
    }
    75%{
    d: path("M 0,400 C 0,400 0,160 0,160 C 63.27245949926363,165.69072164948454 126.54491899852727,171.38144329896906 191,170 C 255.45508100147273,168.61855670103094 321.09278350515456,160.16494845360828 384,154 C 446.90721649484544,147.83505154639172 507.0839469808543,143.95876288659795 565,141 C 622.9160530191457,138.04123711340205 678.5714285714286,136 724,147 C 769.4285714285714,158 804.6303387334314,182.04123711340205 870,181 C 935.3696612665686,179.95876288659795 1030.9072164948454,153.83505154639175 1102,144 C 1173.0927835051546,134.16494845360825 1219.740795287187,140.61855670103094 1272,146 C 1324.259204712813,151.38144329896906 1382.1296023564064,155.69072164948454 1440,160 C 1440,160 1440,400 1440,400 Z");
    }
    100%{
    d: path("M 0,400 C 0,400 0,160 0,160 C 69.51951399116348,155.96078792341677 139.03902798232696,151.92157584683358 203,151 C 266.96097201767304,150.07842415316642 325.3634020618557,152.2744845360825 381,147 C 436.6365979381443,141.7255154639175 489.5073637702503,128.98048600883652 553,133 C 616.4926362297497,137.01951399116348 690.6071428571429,157.80357142857144 745,166 C 799.3928571428571,174.19642857142856 834.0640648011781,169.80522827687776 892,161 C 949.9359351988219,152.19477172312224 1031.1365979381442,138.97551546391753 1097,132 C 1162.8634020618558,125.02448453608247 1213.3895434462447,124.29270986745215 1268,130 C 1322.6104565537553,135.70729013254785 1381.3052282768776,147.85364506627394 1440,160 C 1440,160 1440,400 1440,400 Z");
    }
}

